@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2F.google&psig=AOvVaw3qx_EKgonWzrE5HQUT6IoE&ust=1699390933470000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCKia29iisIIDFQAAAAAdAAAAABAE" />
</div>
